@import 'overlays.mix.less';
@import 'mod.mix.less';
@import 'posts.mix.less';

a {
	border: none;
	text-decoration: none !important;
	&.nope, &.nope:hover {
		color: inherit;
	}
	&.disabled {
		pointer-events: none;
		color: inherit;
	}
}

a, .control {
	cursor: pointer;
}

.control, .banner-float {
	svg {
		fill: currentColor;
	}
}

article, aside {
	padding: 4px 10px;
	margin: 1px;
}

body, #page-container {
	overflow-x: hidden;
	margin: 0;
	padding: 0;
}

#page-container {
	display: flex;
	width: 100%;
}

#threads {
	flex: 1;
	padding: 1em 1.4em;
	outline: none;
	max-width: 100vw;
}

aside {
	display: table;
	&.disabled a {
		color: grey !important;
		cursor: default;
	}
}

.bold {
	font-weight: bold;
}

.mono {
	font-family: monospace;
}

textarea {
	resize: both;
	font-family: sans-serif;
}

.full-width {
	width: 100%;
}

.close {
	font-weight: bold;
}

.popup-menu, .act, .control {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

label {
	padding: 0.2em;
}

h1, h2 {
	text-align: center;
}

h3 {
	display: inline;
	font-size: inherit;
}

.hidden {
	display: none;
}

.spaced {
	& > *:before {
		content: ' ';
	}
	& > .act:not(.expanded):before {
		content: " [";
	}
}

.margin-spaced > * + * {
	margin-left: 0.1em;
}

hr {
	border: none;
	clear: both;
}

.hover-reveal {
	& > span:last-child {
		display: none;
		user-select: initial;
	}
	&:hover > span:last-child {
		display: block;
		position: absolute;
		margin: 0;
	}
}

.act {
	&:not(.expanded) {
		&:before {
			content: "[";
		}
		&:after {
			content: "]";
		}
	}
	& + & {
		margin-left: 0.1em;
	}
}

.hide-empty:empty {
	display: none;
}

.top-margin {
	margin-top: 1em;
}

#user-background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -100;
	video {
		height: auto;
		width: 100%;
	}
}

#mascot-image {
	position: fixed;
    bottom: 0;
    right: 0;
    z-index: -99;
}

#lock {
	margin-left: auto;
	padding-left: 15px;
}

#bottom:focus {
	outline: 0;
}

table {
	border-collapse:collapse;
	td {
		padding: 0;
	}
}

.aside-container {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
}

#catalog-controls {
	margin-left: auto;
}

.captcha-image {
    background: white;
}

.captcha-container {
	padding: 0.5em;
	display: grid;
}

:root.gallery #threads article[id^=p]:not(.media):not(.editing) {display: none;}

@media screen and (max-device-width: 700px) {
	body {
		margin: 1px 0;
		-webkit-text-size-adjust: none;
	}
	blockquote {
		margin: 0.5em 0 0.5em 0.5em;
	}
	#threads {
		padding: 0.3em;
	}
	figure img.expanded {
		margin: 0;
	}
	#thread-post-counters, #sync-counter {
		display: none;
	}
	.reply-form {
		margin: 0;
		padding-right: 10px;
		padding-left: 10px;
		width: ~"calc(100vw - 20px)";
		max-width: initial;
		z-index: 310;
	}
	#post-controls  {
		width: 100%;
	}
}

@media (pointer: coarse) {
	#banner {
		font-size: 120%;
	}
}
