@import 'overlays.mix.less';
@import 'mod.mix.less';
@import 'posts.mix.less';

a {
	border: none;
	text-decoration: none !important;
	&.nope, &.nope:hover {
		color: inherit;
	}
	&.disabled {
		pointer-events: none;
		color: inherit;
	}
}

a, .banner-float, .embed, .control {
	cursor: pointer;
}

.control, .banner-float {
	svg {
		fill: currentColor;
	}
}

article, aside {
	padding: 4px 10px;
	margin: 1px;
}

body {
	overflow-x: hidden;
}

html, body {
	padding: 0;
	margin: 0;
}

#page-container {
	display: flex;
	overflow: hidden;
	height: ~"calc(100vh - 1.5em)";
	margin-top: 1.5em;
	width: 100%;
	position: relative;
	& > section {
		height: auto;
		-webkit-overflow-scrolling: touch;
		-ms-overflow-style: none;
	}
}

#threads {
	flex: 1;
	will-change: contents, scroll-position;
	padding: 1em 1.4em;
	outline: none;
	overflow-x: hidden;
	overflow-y: auto;
}

.side-panel {
	overflow: auto;
}

aside {
	display: table;
	a {
		position: relative;
		z-index: 15;
	}
	&.disabled a {
		color: grey !important;
		cursor: default;
	}
}

.bold {
	font-weight: bold;
}

.mono {
	font-family: monospace;
}

textarea {
	resize: both;
	font-family: sans-serif;
}

#sync {
	cursor: auto;
}

.close {
	font-weight: bold;
}

.popup-menu, .act, .control {
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

label {
	padding: 0.2em;
}

h1, h2 {
	text-align: center;
}

h3 {
	display: inline;
	font-size: inherit;
}

.hidden, #importSettings {
	display: none;
}

.spaced {
	& > *:before {
		content: ' ';
	}
	& > .act:not(.expanded):before {
		content: " [";
	}
}

.margin-spaced > * + * {
	margin-left: 0.1em;
}

hr {
	border: none;
	clear: both;
}

.expandable {
	&:not(.expanded) span:last-child {
		display: none;
	}
}

.act {
	&:not(.expanded) {
		&:before {
			content: "[";
		}
		&:after {
			content: "]";
		}
	}
	& + & {
		margin-left: 0.1em;
	}
}

#notice {
	margin-bottom: 0.5em;
}

#user-background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -100;
	video {
		height: auto;
		width: 100%;
	}
}

#lock {
	float: right;
	padding-left: 15px;
}

#bottom {
	margin-bottom: 7px;
	min-width: 100px;
	&:focus {
		outline: 0;
	}
}

table {
	border-collapse:collapse;
	td {
		padding: 0;
	}
}

#noscript-header {
	color: #b5bd68;
	margin-top: 1em;
	font-size: 10vw;
}

.aside-container {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
}

#catalog-controls {
	margin-left: auto;
}

@media screen and (max-device-width: 700px) {
	body {
		margin: 1px 0;
		-webkit-text-size-adjust: none;
	}
	blockquote {
		margin: 0.5em 0 0.5em 0.5em;
	}
	#threads {
		padding: 0.3em;
	}
	figure img.expanded {
		margin: 0;
	}
}

@media (pointer: coarse) {
	#banner {
		font-size: 150%;
	}
	#page-container {
		height: ~"calc(100vh - 2.25em)";
		margin-top: 2.25em;
	}
}
