@import 'overlays.mix.less';
@import 'mod.mix.less';
@import 'posts.mix.less';

a {
	border: none;
	text-decoration: none !important;
	&.nope, &.nope:hover {
		color: inherit;
	}
	&.disabled {
		pointer-events: none;
		color: inherit;
	}
}

a, .banner-float, .soundcloud, .watch, .control {
	cursor: pointer;
}

.bold {
	font-weight: bold;
}

.mono {
	font-family: monospace;
}

textarea {
	resize: both;
	font-family: sans-serif;
}

#sync {
	cursor: auto;
}

.close {
	font-weight: bold;
}

label {
	padding: 0.2em;
}

#threads {
	margin-top: 1.1em;
}

h1, h2 {
	text-align: center;
}

h3 {
	display: inline;
	font-size: inherit;
}

.hidden, #importSettings {
	display: none;
}

hr {
	border: none;
	clear: both;
}

#threads {
	margin: 0 1em 1em 1em;
}

.act {
	&:not(.expanded) {
		&:before {
			content: "[";
		}
		&:after {
			content: "]";
		}
	}
	& + & {
		margin-left: 0.1em;
	}
}

#user-background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -100;
	video {
		height: auto;
		width: 100%;
	}
}

#lock {
	background: url('ui/lock.svg') no-repeat left;
	background-size: 0.9em 0.9em;
	color: gray;
	float: right;
	padding-left: 15px;
}

#bottom {
	margin-bottom: 7px;
	min-width: 100px;
	&:focus {
		outline: 0;
	}
}

table {
	border-collapse:collapse;
	td {
		padding: 0;
	}
}

#noscriptHeader {
	color: #b5bd68;
	margin-top: 1em;
	font-size: 10vw;
}

@media screen and (max-device-width: 700px) {
	body {
		margin: 1px 0;
		-webkit-text-size-adjust: none;
	}
	blockquote {
		margin: 0.5em 0 0.5em 0.5em;
	}
	#threads {
		margin: 0;
	}
}
