body, article, code.code-tag {
	color: @body;
}

a {
	color: @link;
}

.modal hr {
	border-top: 1px solid @link;
}

#banner{
	background: fade(@postBG, 70%);
	border-bottom: @border;
}

b {
	color: @bold;
}

.admin {
	color: @admin;
}

.moderator {
	color: @mod;
}

.popup-menu {
	border: @border;
}

article audio {
	&::-webkit-media-controls-current-time-display,
	&::-webkit-media-controls-time-remaining-display {
  		color: @link;
	}
}

em, .ms-string {
	color: @em;
}

.ms-operator {
	color: @mod;
}

.ms-comment {
	color: fade(@body, 60%);
}

.ms-function {
	color: @link;
}
