.form-response {
	text-align: center;
	font-weight: bold;
}

#moderation-panel {
	display: none;
	align-self: flex-end;
	margin-top: auto;
	transform: translateX(95%);
	transition-duration: 0.3s;
	transition-property: transform;
	&:hover {
		transform: translateX(0);
	}
}

#identity > table tr:first-child {
	display: none;
}
