a.referenced {
	text-decoration: none;
	border-bottom: 1px dashed currentColor;
}

article, aside {
	padding: 4px 10px;
	margin: 2px;
}

aside {
	display: table;
	&.compact {
		margin: 0 1em;
	}
	a {
		position: relative;
		z-index: 15;
	}
	&.expanded {
		padding: 0.7em;
		& > a {
			display: none;
		}
	}
	&.disabled a {
		color: grey !important;
		cursor: default;
	}
}

.errored {
	&, & a, & a:hover {
		color: red;
		cursor: default;
	}
}

#thread-container, article {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.popup-menu, .act {
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

article {
	header {
		padding-left: 14px;
	}
	small {
		padding-top: 0.5em;
	}
	blockquote {
		word-break: break-word;
		min-width: 25em;
		margin: 1em;
	}
}

.post-container {
	display: inline-block;
	width: 100%;
}

del {
	text-decoration: none;
	&, em {
		background-color: black;
		color: black;
	}
	&:hover, &.reveal {
		&, em {
			color: white;
		}
	}
}

.embed {
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	display: inline-block;
	font-style: normal;
	margin: -2px;
	padding: 2px;
	color: black;
}

em {
	font-style: normal;
}

figcaption {
	margin: 2px 0;
	.imageSearch {
		font-weight: bold;
		display: none;
	}
}

figcaption, header {
	& > *:before {
		content: ' ';
	}
}

figure {
	margin: 0;
	float: left;
	img {
		border: 0;
		margin: 3px 20px 0 0;
	}
	.hat {
		background: url('/assets/hat.png') no-repeat;
		position: absolute;
		left: 10px;
		top: -75px;
		width: 70px;
		height: 141px;
		z-index: 10;
	}
}

header {
	margin-left: -14px;
	padding-left: 14px;
	position: relative;
	display: inline-block;
	nav {
		display: initial;
	}
	code {
		font-family: inherit;
		font-weight: normal;
	}
	.email {
		text-decoration: underline !important;
	}
	.control {
		margin-left: 0.5em;
		float: right;
	}
	&.temporary > *:not(.name) {
		display: none;
	}
}

.locked aside {
	display: none !important;
}

.omit {
	line-height: 200%;
}

#text-input {
	border: 0;
	padding: 0;
	background-color: transparent;
	outline: none;
	min-height: 1em;
	min-width: 20em;
	white-space: pre-wrap;
	cursor: text;
	display: block;
}

.upload-status {
	margin-right: 0.5em;
}

.new-thread-form {
	input[type=text] {
		width: 20em;
	}
}

#catalog {
	margin: 0 0.85em;
	article {
		width: 160px;
		max-height: 320px;
		display: inline-block;
		text-align: center;
		word-wrap:break-word;
		overflow: hidden;
		vertical-align: top;
		padding: 0.6em;
		margin: 0.15em;
	}
	small {
		clear: none;
		display: inline-block;
		& span:first-child {
			margin-right: 0.2em;
		}
	}
	figure {
		float: none;
		margin: 0;
		img {
			margin: 0;
		}
	}
}

.thread-links {
	padding-bottom: 0.5em;
	&:empty {
		display: none;
	}
}
