a.referenced {
	text-decoration: none;
	border-bottom: 1px dashed currentColor;
}

article, aside {
	display: table;
	padding: 4px 10px;
}

aside {
	margin: 1em;
	section > & {
		margin: 2px;
	}
	&.compact {
		margin: 0 1em;
	}
	a {
		position: relative;
		z-index: 15;
	}
	&.expanded {
		padding: 0.7em;
		&:before {
			content: "";
		}
		&:after {
			content: "";
		}
		& > a {
			display: none;
		}
	}
}

blockquote {
	word-break: break-all;
}

.control {
	margin-left: 1em;
	display: inline-block;
	float: right;
}

.popup-menu, .act {
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

article {
	margin: 2px;
	header {
		padding-left: 14px;
	}
	.hat {
		width: 35px;
		height: 70px;
		left: 10px;
		top: -28px;
		background-size: 35px 70px;
		pointer-events: none;
	}
	small {
		padding-top: 0.5em;
	}
}

del {
	text-decoration: none;
	&, em {
		background-color: black;
		color: black;
	}
	&:hover, &.reveal {
		&, em {
			color: white;
		}
	}
}

figcaption {
	display: block;
	margin: 2px 0;
	text-decoration: none;
	*:before {
		content: ' ';
	}
}

.imageSearch {
	font-weight: bold;
	display: none;
}

figure {
	display: inline;
	position: relative;
	margin: 0;
	img {
		border: 0;
		clear: both;
		float: left;
		margin: 3px 20px 0 0;
		vertical-align: top;
		&.noMargin {
			margin-right: 0;
		}
	}
	section & img {
		margin-bottom: 0.5em;
	}
}

header {
	margin-left: -14px;
	padding-left: 14px;
	position: relative;
	display: inline-block;
	& > *:before {
		content: ' ';
	}
	code {
		font-family: inherit;
		font-weight: normal;
	}
}

.postCheckbox {
	display: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	background: url('ui/box2x.png');
	width: 0.9em;
	height: 0.9em;
	background-size: 100% 100%;
	margin: 0;
	&:checked {
		background: url('ui/sel2x.png'), url('ui/box2x.png');
		background-size: 100% 100%;
	}
	&:focus {
		outline: 0;
	}
}

.email {
	text-decoration: underline !important;
}

.hat {
	background: url('/assets/hat.png') no-repeat;
	position: absolute;
	left: 10px;
	top: -75px;
	width: 70px;
	height: 141px;
	z-index: 10;
}

.locked aside {
	display: none !important;
}

.omit {
	line-height: 200%;
}

.themed {
	background-color: transparent;
	color: #444;
	outline: none;
}

pre {
	height: auto;
	margin: 0;
	position: absolute;
	top: 0;
	width: auto;
	visibility: hidden;
}

pre, .themed {
	border: 0;
	padding: 0;
}

#input {
	display: inline;
	margin: 0 0 -3px 0;
	overflow-y: hidden;
	resize: none;
	text-wrap: none;
	vertical-align: baseline;
}

.upload-status {
	margin-right: 0.5em;
}

.new-thread-form {
	input[type=text], textarea {
		width: 100%;
		box-sizing: border-box;
	}
	textarea {
		width: 20em;
	}
}

#catalog {
	margin: 0 0.85em;
	article {
		max-width: 165px;
		max-height: 320px;
		display: inline-block;
		text-align: center;
		word-wrap:break-word;
		overflow: hidden;
		vertical-align: top;
		padding: 0.6em;
		margin: 0.15em;
	}
	small {
		clear: none;
		display: inline-block;
		& span:first-child {
			margin-right: 0.2em;
		}
	}
}

.thread-links {
	padding-bottom: 0.5em;
	&:empty {
		display: none;
	}
}
