a.referenced {
	text-decoration: none;
	border-bottom: 1px dashed currentColor;
}

article, aside {
	padding: 4px 10px;
}

aside {
	display: table;
	section > & {
		margin: 2px;
	}
	&.compact {
		margin: 0 1em;
	}
	a {
		position: relative;
		z-index: 15;
	}
	&.expanded {
		padding: 0.7em;
		& > a {
			display: none;
		}
	}
}

#thread-container, article {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

blockquote {
	word-break: break-all;
}

.popup-menu, .act {
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

article {
	margin: 2px;
	header {
		padding-left: 14px;
	}
	.hat {
		width: 35px;
		height: 70px;
		left: 10px;
		top: -28px;
		background-size: 35px 70px;
		pointer-events: none;
	}
	small {
		padding-top: 0.5em;
	}
}

del {
	text-decoration: none;
	&, em {
		background-color: black;
		color: black;
	}
	&:hover, &.reveal {
		&, em {
			color: white;
		}
	}
}

.embed {
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	display: inline-block;
	font-style: normal;
	margin: -2px;
	padding: 2px;
	color: black;
}

em {
	font-style: normal;
}

figcaption {
	margin: 2px 0;
	.imageSearch {
		font-weight: bold;
		display: none;
	}
}

figcaption, header {
	& > *:before {
		content: ' ';
	}
}

figure {
	display: inline;
	position: relative;
	margin: 0;
	img {
		border: 0;
		clear: both;
		float: left;
		margin: 3px 20px 0 0;
		vertical-align: top;
		&.noMargin {
			margin-right: 0;
		}
	}
	section & img {
		margin-bottom: 0.5em;
	}
	.hat {
		background: url('/assets/hat.png') no-repeat;
		position: absolute;
		left: 10px;
		top: -75px;
		width: 70px;
		height: 141px;
		z-index: 10;
	}
}

header {
	margin-left: -14px;
	padding-left: 14px;
	position: relative;
	display: inline-block;
	nav {
		display: initial;
	}
	code {
		font-family: inherit;
		font-weight: normal;
	}
	.email {
		text-decoration: underline !important;
	}
	.control {
		margin-left: 0.5em;
		display: inline-block;
		float: right;
	}
}

.locked aside {
	display: none !important;
}

.omit {
	line-height: 200%;
}

.themed {
	background-color: transparent;
	color: #444;
	outline: none;
}

pre {
	height: auto;
	margin: 0;
	position: absolute;
	top: 0;
	width: auto;
	visibility: hidden;
}

pre, .themed {
	border: 0;
	padding: 0;
}

#input {
	display: inline;
	margin: 0 0 -3px 0;
	overflow-y: hidden;
	resize: none;
	text-wrap: none;
	vertical-align: baseline;
}

.upload-status {
	margin-right: 0.5em;
}

.new-thread-form {
	input[type=text] {
		width: 20em;
	}
}

#catalog {
	margin: 0 0.85em;
	article {
		max-width: 165px;
		max-height: 320px;
		display: inline-block;
		text-align: center;
		word-wrap:break-word;
		overflow: hidden;
		vertical-align: top;
		padding: 0.6em;
		margin: 0.15em;
	}
	small {
		clear: none;
		display: inline-block;
		& span:first-child {
			margin-right: 0.2em;
		}
	}
}

.thread-links {
	padding-bottom: 0.5em;
	&:empty {
		display: none;
	}
}
