.git

.directory
*.pid
*.log
.vscode
*.dll
node_modules
/meguca
/meguca.exe
scripts/*.local.sh
www/css/*.css
www/css/maps
www/js
www/client
www/wasm
www/videos
thumb_*.png
thumb_*.jpg
thumb_*.webp
scripts/migration/3to4/3to4
/server/pkg
/server/bin
/images
imager/assets/images
imager/images
db.db
easyjson-bootstrap*.go
GeoLite2-Country.mmdb
*.wasm
*.wast
*.map
*.bc
client_cpp/*.js
debug.test
/config.json
db_*.db
/target
vendor

websockets/libwebsockets*.a
websockets/lib_hash.go

client/dist
client/pkg
client/wasm-pack.log
client/target
