*.node
*.pid
.build
.directory
.idea
.lock*
.DS_Store
.project
.vagrant
config/*.js
graveyard
doushio.error.log
node_modules/
imager/tmp
state
build
scripts/credentials.json
www/css/*.css
www/illya.mp4
www/illya.webm
www/archive
www/js/client*.js*
www/src
www/thumb
www/mid
www/vint
/nbproject/
.netbeans.xml
