*.node
*.pid
*.swp
.lock*
.DS_Store
builder
config.js
graveyard
findapng
hot.js
jsmin
node_modules/
perceptual
imager/tmp
tripcode/.build
tripcode/build
upkeep/credentials.json
voice/*.mp3
www/js/client*.js
www/src
www/thumb
www/mid
www/vint
