*.pid
.directory
.idea
.lock*
.DS_Store
.project
.vagrant
config/*.js
error.log
node_modules/
imager/tmp
state
build
scripts/credentials.json
www/css/*.css
www/css/maps
www/illya.mp4
www/illya.webm
www/js/client.js*
www/js/vendor.js*
www/js/legacy.js*
www/js/lang
www/src
www/thumb
www/mid
/nbproject/
.netbeans.xml
.tern-project
