/client
/client_cpp
/clientScripts
/DockerFile
/docs
/go
/lang
/less
/Makefile
/scripts
/www
/images
/config.json
/meguca
/meguca.exe
.directory
.pid
.vscode
*.dll
error.log
thumb_*.png
thumb_*.jpg
*.qtpl.go
bin_data.go
*_easyjson.go
db.db
easyjson-bootstrap*.go
GeoLite2-Country.mmdb
*.wasm
*.wast
*.map
*.bc
debug.test
