var config = {
	LISTEN_PORT: 8000,
	LISTEN_HOST: null,
	DEBUG: true,
	SECURE_SALT: "LALALALALALALALA", /* [A-Za-z0-9./]{16} */
	SOCKET_PATH: '/hana',
	TRUST_X_FORWARDED_FOR: false,
	SERVE_STATIC_FILES: false,
	SERVE_IMAGES: false,
	GZIP: false, /* not preferred; use nginx (or other)'s gzipping */
	USE_WEBSOCKETS: true,

	REDIS_PORT: 6379,
	READ_ONLY: false,

	BOARDS: ['moe', 'gar', 'meta', 'archive', 'staff'],
	DEFAULT_BOARD: 'moe',
	GAME_BOARDS: ['moe', 'archive'],
	STAFF_BOARD: 'staff',
	THREADS_PER_PAGE: 10,
	ABBREVIATED_REPLIES: 5,
	THREAD_LAST_N: 100,

	THREAD_THROTTLE: 60,
	THREAD_EXPIRY: {
		moe: 3600 * 24 * 7,
		gar: 3600 * 24 * 7,
		meta: 3600 * 24 * 7,
	},
	SHORT_TERM_LIMIT: 2000,
	LONG_TERM_LIMIT: 2000*20*12,
	NEW_POST_WORTH: 50,
	IMAGE_WORTH: 50,
	// Instructs archive/daemon.js to permanently delete threads instead of archiving them
	// Existing archives will not be removed
	// Note: upkeep/clean.js is not needed with this option enabled
	VOLATILE: false,
	SUBJECT_MAX_LENGTH: 50,
	EXCLUDE_REGEXP: /[\u2000-\u200f\u202a-\u202f\u205f-\u206f]+/g,
	SAGE_ENABLED: true,

	ADMIN_PERSONAS: ['lalc@doushio.com'],
	MODERATOR_PERSONAS: ['mod@doushio.com'],
	PERSONA_AUDIENCE: 'http://example.com:80',
	LOGIN_COOKIE_DOMAIN: 'example.com',
	LOGIN_SESSION_TIME: 60*60*24*14,
	IP_MNEMONIC: true,
	
	BASE_CSS_VERSION: 44,
	THEME_CSS_VERSION: 9,
	MOD_CSS_VERSION: 1,
	GRAVITAS_CSS_VERSION: 1,
	THEMES: [
		'moe',
		'gar',
		'mawaru',
		'moon',
		'ashita',
		'console',
		'tea',
		'higan',
		'rave',
		'tavern',
		'glass'
	],
	
	// Staff title aliases
	ADMIN_ALIAS: 'Admin',
	MOD_ALIAS: 'Moderator',

	VOICE_PATH: 'voice',

	// A semi random set of hours each day will make all posts Anonymous
	ANON_HOURS: false,
	ANON_HOURS_PER_DAY: 2, /* Accepted values are [1, 2, 3, 4, 6, 12, 24] */
	// Sets a semi-random ratio of anon hours to he converted into random name hours
	// All posts will have a random name assigned to them from the posted name set
	// Set to integer from 0 to 10. 0 disables random name hours. 10 makes all anon hours random name hours
	RANDOM_NAME_HOURS: 0, 

	EIGHT_BALL: [
		"Yes",
		"No",
		"Maybe",
		"You're waifu a shit",
		"It can't be helped",
		"Pls no bully",
		"Lurk more",
		"Go whine in the IRC",
		"Google it",
		"Hell yeah, motherfucker",
		"Give her the D",
		">>>/d/",
		'Ara ara',
		"That is my fetish",
		"Suki desu",
		"Doki doki",
		"Anta baka?"
	],
};

module.exports = config;
