this.hot = {
	// User feedback email
	EMAIL: "lalc@doushio.com",
	TITLES: {
		moe: "/moe/ - Sweets",
		gar: "/gar/ - Hard Work &amp; Guts",
		meta: "/meta/ - The Abyss",
		archive: "/archive/",
		graveyard: "/graveyard/",
		staff: "/staff/",
	},
	// Default CSS theme setting per board
	BOARD_CSS: {
		moe: 'moe',
		gar: 'gar',
		meta: 'mawaru',
		archive: 'archive',
		graveyard: 'mawaru',
		staff: 'moe',
	},
	INTER_BOARD_NAVIGATION: true,
	SPECIAL_TRIPCODES: {
		kyubey: "／人◕ ‿‿ ◕人＼",
	},
	SPECIAL_NAME_TRIPCODES: {
		name: "!tripcode",
	},
	// Information to display in the top banner. Accepts HTML
	BANNERINFO: '',
	// Planned event schedule to display in the banner's Schedule list
	SCHEDULE: {
		Mon: {plans: '', time: ''},
		Tue: {plans: '', time: ''},
		Wed: {plans: '', time: ''},
		Thu: {plans: '', time: ''},
		Fri: {plans: '', time: ''},
		Sat: {plans: '', time: ''},
		Sun: {plans: '', time: ''},
	},
    // Entries for the banner's FAQ list
    FAQ: [
		"Lewd is good", 
		"No 3D porn", 
		"Image size limit is 20 MB", 
		"github.com/bakape/doushio", 
		"The admin is drunk"
    ]
};
