this.hot = {
	EMAIL: "lalc@doushio.com",
	TITLES: {
		moe: "/moe/ - Sweets",
		gar: "/gar/ - Hard Work &amp; Guts",
		meta: "/meta/ - The Abyss",
		archive: "/archive/",
		graveyard: "/graveyard/",
		staff: "/staff/",
	},
	/* Default theme to use on each board */
	BOARD_CSS: {
		moe: 'moe',
		gar: 'gar',
		meta: 'mawaru',
		archive: 'archive',
		graveyard: 'mawaru',
		staff: 'moe',
	},

	/* Bump this version whenever you change base.css */
	BASE_CSS_VERSION: 42,
	/* Bump this version whenever you modify any existing theme CSS */
	THEME_CSS_VERSION: 8,

	INTER_BOARD_NAVIGATION: true,

	SPECIAL_TRIPCODES: {
		kyubey: "／人◕ ‿‿ ◕人＼",
	},
};
