this.hot = {
    EMAIL: "lalc@doushio.com",
	TITLES: {
		moe: "/moe/ - Sweets",
		gar: "/gar/ - Hard Work &amp; Guts",
		meta: "/meta/ - The Abyss",
		archive: "/archive/",
		graveyard: "/graveyard/",
		staff: "/staff/",
	},
	BASE_CSS: 'base-v32.css',
	BOARD_CSS: {
		moe: 'moe-v7.css',
		gar: 'gar-v7.css',
		meta: 'mawaru-v7.css',
		archive: 'archive-v7.css',
		graveyard: 'mawaru-v7.css',
		staff: 'moe-v7.css',
	},
	INTER_BOARD_NAVIGATION: true,

	SPECIAL_TRIPCODES: {
		kyubey: "／人◕ ‿‿ ◕人＼",
	},
};
