# Requires nginx >=1.3.13. This is a basic configuration that will work.
# For performance optimisations refer to the Nginx documentation.
# Place this file under sites-enabled/ in your Ngingx config root.

upstream node {
        # Address of the doushio node.js server
        server 127.0.0.1:8000;
}

access_log /var/log/nginx/doushio.log;

server {
        # Address the website will be hosted on
        listen 0.0.0.0:80;
        server_name mydomain.com;
        # Required for uploading files larger than 1 MB, which is the default. Set as needed. 
        client_max_body_size 5m;
        
        # If you are reverse proxying the node.js server directly to mydomain.com/ , you will
        # need this for the favicon to bypass the reverse proxy. Place the favicon in ./www
        location = /favicon.ico {
                alias http://mydomain.com/static/favicon.ico;
        }
        
        # Address your doushio image board will be hosted on. "/" = "mydomain.com/"
        location / {
                # Required headers for full functionality. Set "TRUST_X_FORWARDED_FOR: true," in ./config.js
                proxy_set_header X-Real-IP $remote_addr;
                proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
                proxy_set_header Host $http_host;
                proxy_set_header X-NginX-Proxy true;
                proxy_pass http://node;
                proxy_http_version 1.1;
                proxy_set_header Upgrade $http_upgrade;
                proxy_set_header Connection "upgrade";
        }
        
        # Address for serving static files. Requires "SERVE_STATIC_FILES: false," in ./config.js
        # Set MEDIA_URL in ./imager/config.js to 'http://mydomain.com/static/' The trailing "/" is important.
        location /static/ {
                alias /path/to/doushio/www/;
        }
}
