module.exports = {
	IMAGE_FILESIZE_MAX: 1024 * 1024 * 3,
	IMAGE_WIDTH_MAX: 6000,
	IMAGE_HEIGHT_MAX: 6000,
	IMAGE_PIXELS_MAX: 4500*4500,
	MEDIA_DIRS: {
		src: 'www/src',
		thumb: 'www/thumb',
		vint: 'www/vint',
		dead: 'graveyard',
		tmp: 'imager/tmp',
	},
	MEDIA_URL: '../',
	PINKY_QUALITY: 50,
	PINKY_DIMENSIONS: [125, 125],
	THUMB_QUALITY: 50,
	THUMB_DIMENSIONS: [250, 250],
	SPOILER_IMAGES: {normal: [], trans: [4, 5, 6, 7, 8, 9, 10]},
	IMAGE_HATS: false,

	UPLOAD_PORT: 9000,
};
