module.exports = {
	IMAGE_FILESIZE_MAX: 1024 * 1024 * 3,
	IMAGE_WIDTH_MAX: 6000,
	IMAGE_HEIGHT_MAX: 6000,
	IMAGE_PIXELS_MAX: 4500*4500,
	MEDIA_DIRS: {
		src: 'www/src',
		thumb: 'www/thumb',
		mid: 'www/mid',
		vint: 'www/vint',
		dead: 'graveyard',
		tmp: 'imager/tmp',
	},
	MEDIA_URL: '../',
	UPLOAD_URL: null,

	// this should be the same as location.origin
	// in your browser's javascript console
	MAIN_SERVER_ORIGIN: 'http://localhost:8000',

	PINKY_QUALITY: 50,
	PINKY_DIMENSIONS: [125, 125],
	THUMB_QUALITY: 50,
	THUMB_DIMENSIONS: [250, 250],
	EXTRA_MID_THUMBNAILS: true,
	WEBM: false,
	WEBM_AUDIO: false,
	// set this to a spoiler index to have all audio WebMs overlaid with
	// the corresponding spoiler image
	WEBM_AUDIO_SPOILER: 0,

	SPOILER_DIR: '../assets/kana',
	SPOILER_IMAGES: {normal: [], trans: [4, 5, 6, 7, 8, 9, 10, 11]},
	IMAGE_HATS: false,

	// uncomment DAEMON if you will run `node imager/daemon.js` separately.
	// if so, either
	// 1) customize UPLOAD_URL above appropriately, or
	// 2) configure your reverse proxy so that requests for /upload/
	//    are forwarded to LISTEN_PORT.
	/*
	DAEMON: {
		LISTEN_PORT: 9000,

		// this doesn't have to (and shouldn't) be the same redis db
		// as is used by the main doushio server.
		REDIS_PORT: 6379,
	},
	*/
};
