{{with .Banner}}
	<h1 class="image-banner">
		<img src="/assets/banners/{{.}}">
	</h1>
{{end}}
<h1 id="page-title">
	{{.Title}}
</h1>
<span class="aside-container">
	<aside id="thread-form-container" class="glass">
		<span class="act">
			<a class="new-thread-button">
				{{index .Lang.UI "newThread"}}
			</a>
		</span>
		<form id="new-thread-form" action="/createThread" class="hidden">
			{{if .IsAll}}
				<select name="board" required>
					{{range .Boards}}
						<option value="{{.ID}}">
							{{.ID}} - {{.Title}}
						</option>
					{{end}}
				</select>
				<br>
			{{end}}
			<input name="subject" placeholder="{{index .Lang.UI "subject"}}" required type="text" maxlength="100">
			<br>
			{{if or .IsAll .ImagesAllowed}}
				<span class="upload-container">
					<span data-id="spoiler">
						<label>
							<input type="checkbox" name="spoiler">
							{{index .Lang.Common.Posts "spoiler"}}
						</label>
					</span>
					<strong class="upload-status"></strong>
					<br>
					<input type="file" name="image" accept="image/png, image/gif, image/jpeg, video/webm, video/ogg, audio/ogg, application/ogg, video/mp4, audio/mp4, audio/mp3, application/zip, application/x-7z-compressed, application/x-xz, application/x-gzip">
					<br>
				</span>
			{{end}}
			{{template "captcha" bundle "new-thread" .CaptchaKey $}}
			<input type="submit" value="{{index .Lang.UI "submit"}}">
			<input type="button" name="cancel" value="{{index .Lang.UI "cancel"}}">
		</form>
	</aside>
	<aside id="refresh" class="act glass">
		<a></a>
	</aside>
	{{template "hover-reveal" bundle .Notice (index $.Lang.UI "showNotice")}}
	{{template "hover-reveal" bundle .Rules (index $.Lang.UI "rules")}}
	<span id="catalog-controls" class="margin-spaced">
		<input type="text" name="search" placeholder="{{index .Lang.UI "search"}}" title="{{index .Lang.UI "searchTooltip"}}">
		<select name="sortMode">
			{{range $i, $s :=  (bundle "lastReply" "creation" "replyCount" "fileCount")}}
				<option value="{{$s}}">
					{{index $.Lang.SortModes $i}}
				</option>
			{{end}}
		</select>
	</span>
</span>
<hr>
<div id="catalog">
	{{range .Threads}}
		<article id="p{{.ID}}" class="glass" data-replyTime="{{.ReplyTime}}" data-time="{{.Time}}" data-postCtr="{{.PostCtr}}" data-imageCtr="{{.ImageCtr}}">
			{{if .Image}}
				<figure>
					<a class="history" href="/{{.Board}}/{{.ID}}">
						<img class="expanded" src="
							{{if .Image.Spoiler}}
								/assets/spoil/default.jpg
							{{else}}
								{{thumbPath .Image.FileType .Image.SHA1}}
							{{end}}
						">
					</a>
				</figure>
			{{end}}
			<small class="spaced thread-links">
				{{if $.IsAll}}
					<b class="board">
						/{{.Board}}/
					</b>
				{{end}}
				<span class="counters" title="{{index $.Lang.UI "catalogOmit"}}">
					{{.PostCtr}}/{{.ImageCtr}}
				</span>
				{{if .Image}}{{else}}
					<span class="act">
						<a class="history" href="/{{.Board}}/{{.ID}}">
							{{index $.Lang.UI "expand"}}
						</a>
					</span>
				{{end}}
				<span class="act">
					<a class="history" href="/{{.Board}}/{{.ID}}?last=100">
						{{index $.Lang.UI "last"}} 100
					</a>
				</span>
			</small>
			<br>
			<h3>
				「{{.Subject}}」
			</h3>
		</article>
	{{end}}
	<script id="board-configs" type="application/json">
		{{.ConfigJSON}}
	</script>
</div>
<hr>
