<h1 id="page-title">
	{{.Title}}
</h1>
<span class="aside-container">
	TODO: Post form &nbsp;
	<span class="act" id="top">
		<a href="#bottom">
			{{index .Lang.UI "bottom"}}
		</a>
	</span>
	<span id="expand-images" class="act">
		<a>
			{{index .Lang.Common.Posts "expand"}}
		</a>
	</span>
</span>
<hr>
<div id="thread-container">
	{{template "article" (wrapPost .Thread.Post .Thread.ID .Thread.Board .Thread.Subject .Lang)}}
	{{range .Thread.Posts}}
		{{template "article" (wrapPost . $.Thread.ID $.Thread.Board "" $.Lang)}}
	{{end}}
</div>
<div id="bottom-spacer"></div>
<aside class="act posting">
	<a>
		{{index .Lang.UI "reply"}}
	</a>
</aside>
<hr>
<span class="act" id="bottom">
	<a href="." class="history">
		{{index .Lang.UI "return"}}
	</a>
</span>
<span class="act">
	<a href="#top">
		{{index .Lang.UI "top"}}
	</a>
</span>
<span class="act">
	<a href="?last=50" class="history reload">
		{{index .Lang.UI "last"}} 50
	</a>
</span>
<span id="lock" class="hidden">
	{{index .Lang.UI "lockedToBottom"}}
</span>
