<h1 id="page-title">
	{{.Title}}
</h1>
{{with .Conf.Notice}}
	<span id="notice">
		<span>
			{{.}}
		</span>
	</span>
{{end}}
TODO: Post form<br>
<span class="act" id="top">
	<a href="#bottom">
		Bottom
	</a>
</span>
<hr>
<div id="thread-container">
	{{template "article" (wrapPost .Thread.Post .Thread.ID .Thread.Board .Thread.Subject .Lang)}}
	{{range .Thread.Posts}}
		{{template "article" (wrapPost . $.Thread.ID $.Thread.Board $.Thread.Subject $.Lang)}}
	{{end}}
</div>
<hr>
<span class="act" id="bottom">
	<a href="." class="history">
		Return
	</a>
</span>
<span class="act">
	<a href="#top">
		Top
	</a>
</span>
<span class="act">
	<a href="?last=50&noscript=true" class="history">
		Last 50
	</a>
</span>
