var config = {
	TITLE: "Test",
	PORT: 8000,
	DEBUG: true,
	SECURE_SALT: "LALALALALALALALA", /* [A-Za-z0-9./]{16} */

	REDIS_PORT: 6379,

	THREADS_PER_PAGE: 10,
	ABBREVIATED_REPLIES: 5,

	IMAGE_FILESIZE_MAX: 1024 * 1024 * 3,
	IMAGE_WIDTH_MAX: 5000,
	IMAGE_HEIGHT_MAX: 5000,
	IMAGE_DIR: '../www/src',
	THUMB_DIR: '../www/thumb',
	IMAGE_URL: '../src/',
	THUMB_URL: '../thumb/',
	PINKY_QUALITY: 50,
	PINKY_DIMENSIONS: [125, 125],
	THUMB_QUALITY: 50,
	THUMB_DIMENSIONS: [250, 250],

	MIXPANEL_TOKEN: '',
};

if (!config.DEBUG)
	config.CLIENT_DEPS = ['lib/socket.io.min.js', 'common.js', 'client.js',
		'lib/mixpanel.js', 'lib/mixpanel_invoke.js'];
else
	config.CLIENT_DEPS = ['lib/socket.io.js', 'common.js', 'client.js',
		'lib/mixpanel_invoke.js'];

config.SERVER_DEPS = ['lib/json-template.js', 'common.js', 'db.js', 'pix.js',
		'server.js', 'tripcode.cc'];

module.exports = config;
