var config = {
	TITLE: "Test",
	PORT: 8000,
	DEBUG: true,
	SECURE_SALT: "LALALALALALALALA", /* [A-Za-z0-9./]{16} */

	REDIS_PORT: 6379,

	THREADS_PER_PAGE: 10,
	ABBREVIATED_REPLIES: 5,
	THREAD_THROTTLE: 60,

	IMAGE_FILESIZE_MAX: 1024 * 1024 * 3,
	IMAGE_WIDTH_MAX: 5000,
	IMAGE_HEIGHT_MAX: 5000,
	MEDIA_DIR: '../www',
	MEDIA_URL: '../',
	DEAD_DIR: '../dead',
	PINKY_QUALITY: 50,
	PINKY_DIMENSIONS: [125, 125],
	THUMB_QUALITY: 50,
	THUMB_DIMENSIONS: [250, 250],

	MIXPANEL_TOKEN: '',

	TWITTER_API: {
		key: '',
		secret: '',
		callback: 'http://example.com/verify',
	},
	TWITTER_USERNAMES: ['modsan'],
	LOGIN_COOKIE_DOMAIN: 'example.com',
	LOGIN_SESSION_TIME: 60*60*24*14,
};

if (!config.DEBUG)
	config.CLIENT_DEPS = [
		'lib/underscore-min.js',
		'lib/backbone-min.js',
		'lib/socket.io.min.js',
		'common.js',
		'client.js',
		'lib/mixpanel.js',
		'lib/mixpanel_invoke.js',
	];
else
	config.CLIENT_DEPS = [
		'lib/underscore.js',
		'lib/backbone.js',
		'lib/socket.io.js',
		'common.js',
		'client.js',
		'lib/mixpanel_invoke.js',
	];

config.SERVER_DEPS = [
	'lib/underscore.js',
	'admin.js',
	'common.js',
	'config.js',
	'db.js',
	'pix.js',
	'server.js',
	'twitter.js',
	'tripcode.cc',
];

module.exports = config;
