a {
	text-decoration: underline;
	border: none;
}
a:hover, blockquote a {
	color: #d00;
	cursor: pointer;
}
article, aside {
	background-color: #d6daf0;
	border-right: 1px solid #b7c5d9;
	border-bottom: 1px solid #b7c5d9;
	display: table;
	margin: 2px;
	padding: 4px 10px;
}
article em {
	font-style: normal;
	color: #789922;
}
article p {
	display: inline;
}
body {
	background-color: #eef2ff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
}
del, del em {
	background-color: black;
	color: black;
	text-decoration: none;
}
del:hover, del:hover em {
	color: white;
}
header b {
	color: #117743;
	font-weight: bold;
}
header code {
	color: #228854;
	font-family: inherit;
}
header a {
	color: inherit;
	text-decoration: none;
}
header span {
	display: block;
}
iframe {
	display: none;
}
section, body > aside {
	margin: 1em;
}
.editing {
	background-color: #fa6 !important;
	border-right: 1px solid #e95 !important;
	border-bottom: 1px solid #e95 !important;
}
.email, .email b, .email code {
	color: #0f0c5d;
	text-decoration: underline;
}
.highlight {
	background-color: #d6bad0;
	border-right: 1px solid #ba9dbf;
	border-bottom: 1px solid #ba9dbf;
}
.trans {
	background-color: transparent;
	border: 0;
	color: #444;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	margin: 0 0 0 -1px;
	outline: none;
	padding: 0;
}
#live, #sync {
	float: right;
	clear: right;
	color: gray;
}
