a, header a.expand {
	color: #c22;
}
a:hover, blockquote a, .email *:hover {
	color: #513fd3 !important;
}
article, aside, nav {
	background-color: #222;
	border-right: 1px solid #111;
	border-bottom: 1px solid #111;
}
article.highlight {
	background-color: #333;
	border-right: 1px solid #222;
	border-bottom: 1px solid #222;
}
article.editing {
	background-color: #311;
	border-right: 1px solid #200;
	border-bottom: 1px solid #200;
}
b.admin {
	color: #f00;
}
b.moderator {
	color: #ffff33;
}
body {
	color: #eee;
	background: black url('95.png');
}
body, pre, #trans {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
}
em {
	color: #a00;
}
h1 {
	color: #900;
	font: bolder 28px Tahoma;
	letter-spacing: -2px;
}
h2 {
	color: #900;
	font-family: Tahoma;
}
header, header a, figcaption {
	color: #555;
}
header b {
	color: #666;
}
hr {
	border-top: 1px solid #300;
}
.email, .email * {
	color: #0f0c5d;
}
.modal {
	background-color: #222;
	border-right: 1px solid #111;
	border-bottom: 1px solid #111;
}
.preview {
	background-color: #111;
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
}
#trans {
	color: gray;
}
