a {
	border: none;
	color: #34345c;
	text-decoration: underline;
}
a:visited {
	color: inherit;
}
a:hover, blockquote a {
	color: #d00 !important;
	cursor: pointer;
}
abbr {
	text-decoration: none;
}
article, aside {
	background-color: #d6daf0;
	border-right: 1px solid #b7c5d9;
	border-bottom: 1px solid #b7c5d9;
	display: table;
	margin: 2px;
	padding: 4px 10px;
}
article img {
	margin-bottom: 0 !important;
}
body {
	background-color: #eef2ff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
}
body > aside {
	margin: 1em;
}
cite {
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	cursor: pointer;
	display: inline-block;
	font-style: normal;
	margin: -2px;
	padding: 2px;
}
del, del em {
	background-color: black;
	color: black;
	text-decoration: none;
}
del:hover, del:hover em {
	color: white;
}
em {
	font-style: normal;
	color: #789922;
}
fieldset {
	border: 0;
}
fieldset label {
	display: inline-block;
	text-align: right;
	width: 4em;
}
figcaption {
	display: block;
	margin: 1px 0;
}
figure {
	display: inline;
	margin: 0;
}
figure img {
	border: 0;
	clear: both;
	float: left;
	margin: 3px 20px 20px 0;
	vertical-align: top;
}
h1 {
	color: #af0a0f;
	font: bolder 28px Tahoma;
	letter-spacing: -2px;
	text-align: center;
}
h2 {
	color: #af0a0f;
	font-family: Tahoma;
	text-align: center;
}
header a {
	color: black;
	text-decoration: none;
}
header a.expand {
	color: #34345c;
	text-decoration: underline;
}
header b {
	color: #117743;
	font-weight: bold;
}
header code {
	color: #228854;
	font-family: inherit;
}
hr {
	border: none;
	border-top: 1px solid #b7c5d9;
	clear: both;
}
iframe {
	display: none;
}
nav {
	background-color: #d6daf0;
	border-right: 1px solid #b7c5d9;
	border-bottom: 1px solid #b7c5d9;
	display: inline-block;
	padding: 2px 10px;
	margin: 1px 0;
}
nav a, nav b {
	display: inline-block;
	padding: 4px;
}
section {
	display: block;
	margin: 0 1em 1em 1em;
}
section p {
	display: inline;
}
.editing {
	background-color: #fa6 !important;
	border-right: 1px solid #e95 !important;
	border-bottom: 1px solid #e95 !important;
}
.email, .email * {
	color: #0f0c5d;
	text-decoration: underline;
}
.email *:hover {
	color: #d00 !important;
}
.emailcancel {
	color: inherit !important;
	cursor: inherit !important;
	text-decoration: none;
}
article.highlight {
	background-color: #d6bad0;
	border-right: 1px solid #ba9dbf;
	border-bottom: 1px solid #ba9dbf;
}
.modal {
	background-color: white;
	overflow: hidden;
	padding: 1em;
	position: absolute;
	right: 70px;
	top: 70px;
	white-space: nowrap;
}
.preview {
	background-color: white;
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee;
	padding: 4px 10px;
	position: absolute;
}
.trans {
	background-color: transparent;
	border: 0;
	color: #444;
	display: inline;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	margin: 0 0 -3px 0;
	outline: none;
	overflow-y: hidden;
	padding: 0;
	resize: none;
	text-wrap: none;
	vertical-align: top;
}
#options, #sync {
	clear: right;
	color: gray;
	display: block;
	float: right;
	margin-bottom: 2px;
}
.error {
	position: fixed;
	top: 12px;
	right: 8px;
}
