{% import "fmt" %}
{% import "strconv" %}
{% import "github.com/bakape/meguca/common" %}
{% import "github.com/bakape/meguca/lang" %}
{% import "github.com/bakape/meguca/imager/assets" %}
{% import "github.com/bakape/meguca/util" %}

{% func renderArticle(p common.Post, c articleContext) %}{% stripspace %}
	{% code id := strconv.FormatUint(p.ID, 10) %}
	{% code ln := lang.Get() %}
	<article id="p{%s= id %}" {% space %} {%= postClass(p, c.op) %}>
		{%= deletedToggle() %}
		<header class="spaced">
			<input type="checkbox" class="mod-checkbox hidden">
			{%= renderSticky(c.sticky) %}
			{%= renderLocked(c.locked) %}
			{% if c.subject != "" %}
				{% if c.board != "" %}
					<b class="board">
						/{%s= c.board %}/
					</b>
				{% endif %}
				<h3>
					「{%s c.subject %}」
				</h3>
			{% endif %}
			<b class="name spaced{% if p.Auth != common.NotStaff %}{% space %}admin{% endif %}{% if p.Sage %}{% space %}sage{% endif %}">
				{% if p.Name != "" || p.Trip == "" %}
					<span>
						{% if p.Name != "" %}
							{%s p.Name %}
						{% else %}
							{%s= ln.Common.Posts["anon"] %}
						{% endif %}
					</span>
				{% endif %}
				{% if p.Trip != "" %}
					<code>
						!{%s p.Trip %}
					</code>
				{% endif %}
				{% if p.Auth != common.NotStaff %}
					<span>
						##{% space %}{%s= ln.Common.Posts[p.Auth.String()] %}
					</span>
				{% endif %}
			</b>
			{% if p.Flag != "" %}
				{% code title, ok := countryMap[p.Flag] %}
				{% if !ok %}
					{% code title = p.Flag %}
				{% endif %}
				<img class="flag" src="/assets/flags/{%s= p.Flag %}.svg" title="{%s= title %}">
			{% endif %}
			<time>
				{%s= formatTime(p.Time) %}
			</time>
			<nav>
				{% code url := "#p" + id %}
				{% if c.index %}
					{% code url = util.ConcatStrings("/all/", id, "?last=100", url) %}
				{% endif %}
				<a href="{%s= url %}">
					No.
				</a>
				<a class="quote" href="{%s= url %}">
					{%s= id %}
				</a>
			</nav>
			{% if c.index && c.subject != "" %}
				<span>
					{%= expandLink("all", id) %}
					{%= last100Link("all", id) %}
				</span>
			{% endif %}
			{%= controlLink() %}
			{% if c.op == p.ID %}
				{%= threadWatcherToggle(p.ID) %}
			{% endif %}
		</header>
		{% code var src string %}
		{% if p.Image != nil %}
			{% code img := *p.Image %}
			{% code src =  assets.SourcePath(img.FileType, img.SHA1) %}
			<figcaption class="spaced">
				<a class="image-toggle act" hidden></a>
				<span class="spaced image-search-container">
					{%= imageSearch(c.root, img) %}
				</span>
				<span class="fileinfo">
					{% if img.Artist != "" %}
						<span class="media-artist">
							{%s img.Artist %}
						</span>
					{% endif %}
					{% if img.Title != "" %}
						<span class="media-title">
							{%s img.Title %}
						</span>
					{% endif %}
					{% if img.Audio %}
						<span class="has-audio">
							♫
						</span>
					{% endif %}
					{% if img.Length != 0 %}
						<span class="media-length">
							{% code l := img.Length %}
							{% if l < 60 %}
								{%s= fmt.Sprintf("0:%02d", l) %}
							{% else %}
								{% code min := l / 60 %}
								{%s= fmt.Sprintf("%02d:%02d", min, l - min * 60) %}
							{% endif %}
						</span>
					{% endif %}
					<span class="filesize">
						{%s= readableFileSize(img.Size) %}
					</span>
					{% if img.Dims != [4]uint16{} %}
						<span class="dims">
							{%s= strconv.FormatUint(uint64(img.Dims[0]), 10) %}
							x
							{%s= strconv.FormatUint(uint64(img.Dims[1]), 10) %}
						</span>
					{% endif %}
				</span>
				{% code name := imageName(img.FileType, img.Name) %}
				<a href="{%s= assets.RelativeSourcePath(img.FileType, img.SHA1) %}" download="{%s= name %}">
					{%s= name %}
				</a>
			</figcaption>
		{% endif %}
		<div class="post-container">
			{% if p.Image != nil %}
				{% code img := *p.Image %}
				<figure>
					<a target="_blank" href="{%s= src %}">
						{% switch %}
						{% case img.ThumbType == common.NoFile %}
							{% code var file string %}
							{% switch img.FileType %}
							{% case common.MP4, common.MP3, common.OGG, common.FLAC %}
								{% code file = "audio" %}
							{% default %}
								{% code file = "file" %}
							{% endswitch %}
							<img src="/assets/{%s= file %}.png" width="150" height="150">
						{% case img.Spoiler %}
							{% comment %}
								TODO: board-specific server-side spoiler rendering
							{% endcomment %}
							<img src="/assets/spoil/default.jpg" width="150" height="150">
						{% default %}
							<img src="{%s= assets.ThumbPath(img.ThumbType, img.SHA1) %}" width="{%d int(img.Dims[2]) %}" height="{%d int(img.Dims[3]) %}">
						{% endswitch %}
					</a>
				</figure>
			{% endif %}
			<blockquote>
				{%= body(p, c.op, c.board, c.index, c.rbText, c.pyu) %}
			</blockquote>
			{% for _, e := range p.Moderation %}
				<b class="admin post-moderation">
					{%= postModeration(e) %}
					<br>
				</b>
			{% endfor %}
		</div>
		{% if c.omit != 0 %}
			<span class="omit spaced" data-omit="{%d c.omit %}" data-image-omit="{%d c.imageOmit %}">
				{% if c.imageOmit == 0 %}
					{%s= fmt.Sprintf(ln.Common.Format["postsOmitted"], c.omit) %}
				{% else %}
					{%s= fmt.Sprintf(ln.Common.Format["postsAndImagesOmitted"], c.omit, c.imageOmit) %}
				{% endif %}
				<span class="act">
					<a href="{%s= strconv.FormatUint(c.op, 10) %}">
						{%s= ln.Common.Posts["seeAll"] %}
					</a>
				</span>
			</span>
		{% endif %}
		{% if bls := c.backlinks[p.ID]; len(bls) != 0 %}
			<span class="backlinks spaced">
				{% for _, l := range bls %}
					<em>
						{%= postLink(l, c.index || l.OP != c.op, c.index) %}
					</em>
				{% endfor %}
			</span>
		{% endif %}
	</article>
{% endstripspace %}{% endfunc %}

Render image search links according to file type
{% func imageSearch(root string, img common.Image) %}{% stripspace %}
	{% if img.ThumbType == common.NoFile || img.FileType == common.PDF %}
		{% return %}
	{% endif %}

	{% code url := root + assets.ImageSearchPath(img.ImageCommon) %}
	<a class="image-search google" target="_blank" rel="nofollow" href="https://www.google.com/searchbyimage?image_url={%s= url %}">
		G
	</a>
	<a class="image-search yandex" target="_blank" rel="nofollow" href="https://yandex.com/images/search?source=collections&rpt=imageview&url={%s= url %}">
		Yd
	</a>
	<a class="image-search iqdb" target="_blank" rel="nofollow" href="http://iqdb.org/?url={%s= url %}">
		Iq
	</a>
	<a class="image-search saucenao" target="_blank" rel="nofollow" href="http://saucenao.com/search.php?db=999&url={%s= url %}">
		Sn
	</a>
	<a class="image-search whatAnime" target="_blank" rel="nofollow" href="https://trace.moe/?url={%s= url %}">
		Wa
	</a>
	{% switch img.FileType %}
	{% case common.JPEG, common.PNG, common.GIF, common.WEBM %}
		<a class="image-search desustorage" target="_blank" rel="nofollow" href="https://desuarchive.org/_/search/image/{%s= img.MD5 %}">
			Ds
		</a>
	{% endswitch %}
	{% switch img.FileType %}
	{% case common.JPEG, common.PNG %}
		<a class="image-search exhentai" target="_blank" rel="nofollow" href="http://exhentai.org/?fs_similar=1&fs_exp=1&f_shash={%s= img.SHA1 %}">
			Ex
		</a>
	{% endswitch %}
{% endstripspace %}{% endfunc %}
