{% import "fmt" %}
{% import "time" %}
{% import "strconv" %}
{% import "github.com/bakape/meguca/auth" %}
{% import "github.com/bakape/meguca/config" %}
{% import "github.com/bakape/meguca/lang" %}
{% import "github.com/bakape/meguca/common" %}
{% import "github.com/bakape/mnemonics" %}

// Header of a standalone HTML page
{% func htmlHeader() %}{% stripspace %}
	<!DOCTYPE html>
	<html>
		<head>
			<meta charset="utf-8"/>
		</head>
		<body>
{% endstripspace %}{% endfunc %}

// End of a standalone HTML page
{% func htmlEnd() %}{% stripspace %}
		</body>
	</html>
{% endstripspace %}{% endfunc %}

BanPage renders a ban page for a banned user
{% func BanPage(rec auth.BanRecord) %}{% stripspace %}
	{%= htmlHeader() %}
	{% code ln := lang.Get().Templates["banPage"] %}
	{% if len(ln) < 3 %}
		{% code panic(fmt.Errorf("invalid ban format strings: %v", ln)) %}
	{% endif %}
	{% if rec.By == "system" && rec.Reason == "brum brum" %}
		<img src="/assets/autobahn.gif" style="position:fixed;top:0;left:0;width:100%;height:100%;z-index:-100;"/>
		<audio src="/assets/autobahn.mp3" style="display:none" autoplay loop></audio>
	{% endif %}
	<div class="ban-page glass">
		{%s= fmt.Sprintf(ln[0], bold(rec.Board), bold(rec.By)) %}
		<br>
		<br>
		<b>
			{%s rec.Reason %}
		</b>
		<br>
		<br>
		{% code exp := rec.Expires.Round(time.Second) %}
		{% code date := exp.Format(time.UnixDate) %}
		{% code till := exp.Sub(time.Now().Round(time.Second)).String() %}
		{%s= fmt.Sprintf(ln[1], bold(date), bold(till)) %}
		<br>
		<br>
		{%s= fmt.Sprintf(ln[2], bold(rec.IP)) %}
		<br>
	</div>
	{%= htmlEnd() %}
{% endstripspace %}{% endfunc %}

Renders a list of bans for a specific page with optional unbanning API links
{% func BanList(bans []auth.BanRecord, board string, canUnban bool) %}{% stripspace %}
	{%= htmlHeader() %}
	{%= tableStyle() %}
	{% code ln := lang.Get() %}
	<form method="post" action="/api/unban/{%s= board %}">
		<table>
			{% code headers := []string{
				"reason", "by", "post", "posterID", "expires", "type",
			} %}
			{% if canUnban %}
				{% code headers = append(headers, "unban") %}
			{% endif %}
			{%= tableHeaders(headers...) %}
			{% code salt := config.Get().Salt %}
			{% for _, b := range bans %}
				<tr>
					<td>{%s b.Reason %}</td>
					<td>{%s b.By %}</td>
					<td>{%= staticPostLink(b.ForPost) %}</td>
					{% code buf := make([]byte, 0, len(salt)+len(b.IP)) %}
					{% code buf = append(buf, salt...) %}
					{% code buf = append(buf, b.IP...) %}
					<td>{%s mnemonic.FantasyName(buf) %}</td>
					<td>{%s b.Expires.Format(time.UnixDate) %}</td>
					<td>{%s ln.UI[b.Type] %}</td>
					{% if canUnban %}
						<td>
							<input type="checkbox" name="{%s strconv.FormatUint(b.ForPost, 10) %}">
						</td>
					{% endif %}
				</tr>
			{% endfor %}
		</table>
		{% if canUnban %}
			{%= submit(false) %}
		{% endif %}
	</form>
	{%= htmlEnd() %}
{% endstripspace %}{% endfunc %}

Common style for plain html tables
{% func tableStyle() %}{% stripspace %}
	<style>
		table, th, td {
			border: 1px solid black;
		}
		.hash-link {
			display: none;
		}
	</style>
{% endstripspace %}{% endfunc %}

Post link, that will redirect to the post from any page
{% func staticPostLink(id uint64) %}{% stripspace %}
	{%= postLink(common.Link{id, id, "all"}, true, true) %}
{% endstripspace %}{% endfunc %}

Renders a moderation log page
{% func ModLog(log []auth.ModLogEntry) %}{% stripspace %}
	{%= htmlHeader() %}
	{% code ln := lang.Get() %}
	{%= tableStyle() %}
	<table>
		{%= tableHeaders("type", "by", "post", "time", "data", "duration") %}
		{% for _, l := range log %}
			<tr>
				<td>
					{% switch l.Type %}
					{% case common.BanPost %}
						{%s ln.UI["ban"] %}
					{% case common.ShadowBinPost %}
						{%s ln.UI["shadowBin"] %}
					{% case common.UnbanPost %}
						{%s ln.UI["unban"] %}
					{% case common.DeletePost %}
						{%s ln.UI["deletePost"] %}
					{% case common.DeleteImage %}
						{%s ln.UI["deleteImage"] %}
					{% case common.SpoilerImage %}
						{%s ln.UI["spoilerImage"] %}
					{% case common.LockThread %}
						{%s ln.Common.UI["lockThread"] %}
					{% case common.DeleteBoard %}
						{%s ln.Common.UI["deleteBoard"] %}
					{% case common.MeidoVision %}
						{%s ln.Common.UI["meidoVisionPost"] %}
					{% case common.PurgePost %}
						{%s ln.UI["purgePost"] %}
					{% case common.RedirectIP %}
						{%s ln.UI["redirectIP"] %}
					{% case common.RedirectThread %}
						{%s ln.UI["redirectThread"] %}
					{% endswitch %}
				</td>
				<td>{%s l.By %}</td>
				<td>
					{% if l.ID != 0 %}
						{%= staticPostLink(l.ID) %}
					{% endif %}
				</td>
				<td>{%s l.Created.Format(time.UnixDate) %}</td>
				<td>{%s l.Data %}</td>
				<td>
					{% if l.Length != 0 %}
						{%s (time.Second * time.Duration(l.Length)).String() %}
					{% endif %}
				</td>
			</tr>
		{% endfor %}
	</table>
	{%= htmlEnd() %}
{% endstripspace %}{% endfunc %}
