{{$id := index . 0}}
{{$key := index . 1}}
{{$ := index . 2}}
{{if $.Captcha}}
	<div class="captcha-container">
		<div id="adcopy-outer-{{$id}}">
			<div id="adcopy-puzzle-image-{{$id}}" class="captcha-image"></div>
			<div id="adcopy-puzzle-audio-{{$id}}" class="hidden"></div>
			<div id="adcopy-pixel-image-{{$id}}" class="hidden"></div>
			<div>
				<span id="adcopy-instr-{{$id}}" class="hidden"></span>
			</div>
			<input id="adcopy_response-{{$id}}" name="adcopy_response" class="full-width" type="text" placeholder="{{index $.Lang.UI "FocusForCaptcha"}}" required>
			<input type="hidden" name="adcopy_challenge" id="adcopy_challenge-{{$id}}" hidden>
			<a id="adcopy-link-refresh-{{$id}}" class="hidden"></a>
			<a id="adcopy-link-audio-{{$id}}" class="hidden"></a>
			<a id="adcopy-link-image-{{$id}}" class="hidden"></a>
			<a id="adcopy-link-info-{{$id}}" class="hidden"></a>
			<noscript>
				<iframe src="http://api.solvemedia.com/papi/challenge.noscript?k={{$key}}"
		height="260" width="350" frameborder="0"></iframe>
				<br>
				<input name="adcopy_challenge" type="text" required>
			</noscript>
		</div>
	</div>
{{end}}
