<!doctype html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
	<link type="image/x-icon" rel="shortcut icon" href="/assets/favicons/default.ico">
	<title>{{.Title}}</title>
	<link rel="manifest" href="/assets/mobile/manifest.json">
	<meta name="application-name" content="meguca">
	<meta name="description" content="Realtime imageboard">
	<!-- Main and theme-specific stylesheets !-->
	<link rel="stylesheet" href="/assets/css/base.css">
	<link rel="stylesheet" href="/assets/css/{{.DefaultCSS}}.css">
	<script>
		location.replace(location.href.split(/[\?&]/)[0])
	</script>
</head>
<body>
	<div id="overlay-container">
		<!-- Top banner !-->
		<span id="banner">
			<nav id="board-navigation">
				[
				{{- range $i, $board := .Boards -}}
					{{- if ne $i 0}}&nbsp;/&nbsp;{{end -}}
					<a href="../{{$board}}/?noscript=true" class="history">
						{{- $board -}}
					</a>
				{{- end -}}
				]
			</nav>
			<b>
				Enable JavaScript for more functionality
			</b>
		</span>
	</div>
	<div id="page-container">
		<section id="threads">
			<!-- Contains posts, page naviagation, title, image banner and the catalog !-->
			<div id="threads">{{.Threads}}</div>
		</section>
	</div>
</body>
