/assets
/auth
/cache
/common
/config
/db
/DockerFile
/docs
/geoip
/imager
/log
/parser
/server
/static
/templates
/test
/util
/websockets
/client
/clientScripts
/DockerFile
/docs
/lang
/less
/Makefile
/scripts
/www/css
/www/favicons
/www/flags
/www/mobile
/www/spoil
/www/wasm
/www/*.png
/images
/config.json
/meguca
/meguca.exe
.directory
.pid
.vscode
*.dll
error.log
thumb_*.png
thumb_*.jpg
*.qtpl.go
bin_data.go
*_easyjson.go
db.db
easyjson-bootstrap*.go
GeoLite2-Country.mmdb
*.wasm
*.wast
*.map
*.bc
debug.test
