#! /bin/sh
### BEGIN INIT INFO
# Provides:          doushio
# Required-Start:    redis-server
# Required-Stop:
# Default-Start:     2 3 4 5
# Default-Stop:      0 1 6
# Short-Description: Custom init wrapper script for the doushio image board node.js server
# Description:       Custom init wrapper script for the doushio image board node.js server
### END INIT INFO

PATH=/sbin:/usr/sbin:/bin:/usr/bin
DESC="doushio image board node.js server"
NAME=doushio
USER=doushio
DOUSHIO_DIR=/home/${USER}/server
NODE=/usr/bin/node
DAEMON=${DOUSHIO_DIR}/server/server.js
SCRIPTNAME=/etc/init.d/$NAME
PID=${DOUSHIO_DIR}/server/.server.pid

do_start()
{
    su $USER -c "cd $DOUSHIO_DIR; npm start &"
}

do_stop()
{
    kill $(cat $PID)
}

do_restart()
{
    do_stop
    do_start
}

do_reload()
{
    su $USER -c "cd $DOUSHIO_DIR; $NODE server/kill.js --pid doushio.pid"
}

case "$1" in
start)
    echo "Starting $DESC"
    do_start
    ;;
stop)
    echo "Stopping $DESC"
    do_stop
    ;;
restart)
    echo "Restarting $DESC"
    do_restart
    ;;
reload)
    echo "Reloading $DESC"
    do_reload
    ;;
*)
    echo "Usage: $SCRIPTNAME {start|stop|reload|restart}" >&2
    exit 3
    ;;
esac

:
