[Unit]
Description=shamichan imageboard server
Requires=postgresql.service
After=postgresql.service

[Service]
Type=simple
Restart=always
RestartSec=5
StartLimitInterval=6s
StartLimitBurst=1
User=shamichan
Group=shamichan
WorkingDirectory=/home/shamichan/server
ExecStart=/home/shamichan/server/shamichan
PIDFile=/home/shamichan/server/.pid
ExecReload=/bin/kill -USR2 $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID

[Install]
WantedBy=multi-user.target
