name: Build
on: [push, pull_request]

jobs:
  build-dev-image:
    name: Build and push dev image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout commit
        uses: actions/checkout@v2
      - name: Build and push
        uses: docker/build-push-action@v1
        env:
          DOCKER_BUILDKIT: "1"
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: bakape/meguca-dev
          cache_froms: bakape/meguca-dev
          push: true
          tag_with_ref: true
          build_args: BUILDKIT_INLINE_CACHE=1
  # TODO: code vetting
  test:
    name: Run tests
    runs-on: ubuntu-latest
    needs: build-dev-image
    services:
      postgres:
        image: postgres
        env:
          POSTGRES_PASSWORD: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432
    steps:
      - name: Checkout commit
        uses: actions/checkout@v2
      - name: Create DB
        run: >
          psql \
            postgres://postgres:postgres@localhost:5432/postgres \
            -c "create database meguca;"
      - name: Build dev image
        run: >
          DOCKER_BUILDKIT=1 docker build \
            --cache-from bakape/meguca-dev \
            -t meguca \
            .
      - name: Run Rust tests
        run: >
          docker run \
            --rm \
            --network host \
            -e CI=true \
            -e TEST_DB="postgres://postgres:postgres@localhost:5432/meguca" \
            --entrypoint="" \
            meguca \
            cargo test
      - name: Run Go tests
        run: >
          docker run \
            --rm \
            --network host \
            -e CI=true \
            -e TEST_DB="postgres://postgres:postgres@localhost:5432/meguca" \
            --entrypoint="" \
            meguca \
            go test --race ./...
  build-prod-image:
    name: Build and push prod image
    runs-on: ubuntu-latest
    needs:
      - build-dev-image
      - test
    if: success() && github.ref == 'refs/heads/master'
    steps:
      - name: Checkout commit
        uses: actions/checkout@v2
      - name: Build and push image
        uses: docker/build-push-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: bakape/meguca
          cache_froms: bakape/meguca
          push: true
          tag_with_ref: true
          dockerfile: Dockerfile.prod
