a {
	border: none;
	text-decoration: underline;
}
a.nope, a.nope:hover {
	color: inherit;
	text-decoration: none;
}
abbr {
	text-decoration: none;
}
article, aside {
	display: table;
	margin: 2px;
	padding: 4px 10px;
}
aside a, #options {
	position: relative;
	cursor: pointer;
	z-index: 100;
}
article figure img {
	margin-bottom: 0;
}
body > aside {
	margin: 1em;
}
.watch {
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	cursor: pointer;
	display: inline-block;
	font-style: normal;
	margin: -2px;
	padding: 2px;
	text-decoration: none;
}
.watch, .watch:hover {
	color: inherit;
}
del, del em {
	background-color: black;
	color: black;
	text-decoration: none;
}
del:hover, del:hover em, del.reveal, del.reveal em {
	color: white;
}
em {
	font-style: normal;
}
fieldset {
	border: 0;
}
figcaption {
	display: block;
	margin: 2px 0;
}
figcaption i {
	font-style: normal;
}
figure {
	display: inline;
	margin: 0;
}
figure img {
	border: 0;
	clear: both;
	float: left;
	margin: 3px 20px 20px 0;
	vertical-align: top;
}
h1, h2 {
	text-align: center;
}
h3 {
	display: inline;
	font-size: inherit;
}
header {
	background: url('ui/box.png') left 3px no-repeat;
	margin-left: -14px;
	padding-left: 14px;
	position: relative;
}
article header {
	margin-left: -3px;
	padding-left: 14px;
}
header nav a {
	text-decoration: none;
}
header code {
	font-family: inherit;
	font-weight: normal;
}
hr {
	border: none;
	clear: both;
}
iframe {
	display: none;
}
label.ident {
	display: inline-block;
	text-align: right;
	width: 3em;
}
section {
	display: block;
	margin: 0 1em 1em 1em;
}
section nav, section p, .preview nav {
	display: inline;
}
small {
	clear: left;
	display: block;
	padding-top: 0.5em;
}
span.control ul {
	z-index: 10;
}
ul {
	background: url('ui/box.png') 10px 10px no-repeat;
	border-bottom: none;
	position: absolute;
	margin: 0;
	padding: 5px;
	top: -9px;
	left: -9px;

	user-select: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}
ul li {
	list-style: none;
	margin: 0;
	padding: 3px 3px 3px 21px;
}
.control {
	cursor: pointer;
	display: inline-block;
	height: 12px;
	left: -1px;
	position: absolute;
	top: 2px;
	width: 12px;
}
#banner {
	color: gray;
	display: block;
	overflow: hidden;
	text-align: center;
	white-space: nowrap;
}
section #banner {
	margin-top: 1em;
	text-align: left;
}
.email {
	text-decoration: underline;
}
.error {
	position: fixed;
	top: 12px;
	right: 8px;
}
figure {
	display: block;
	position: relative;
}
section > figure > a {
	float: left;
	position: relative;
	z-index: 5;
}
.hat, .expanded .hat {
	background: url('ui/hat.png') no-repeat;
	position: absolute;
	left: 10px;
	top: -75px;
	width: 70px;
	height: 141px;
}
article .hat {
	width: 35px;
	height: 70px;
	left: 10px;
	top: -28px;
	background-size: 35px 70px;
}
#lock {
	background: url('ui/lock.png') no-repeat left;
	color: gray;
	float: right;
	padding-left: 15px;
}
.locked:after {
	content: "This thread is locked.";
}
.locked > header nav:after {
	content: " (locked)";
}
.locked aside {
	display: none;
}
.omit {
	line-height: 200%;
}
.modal {
	overflow: hidden;
	padding: 1em;
	position: absolute;
	right: 70px;
	top: 70px;
	white-space: nowrap;
}
.pagination {
	display: inline-block;
	padding: 2px 10px;
	margin: 1px 0;
}
.pagination a, .pagination strong {
	display: inline-block;
	padding: 4px;
}
.preview {
	padding: 4px 10px;
	position: absolute;
}
.scroll-lock > header {
	background-image: url('ui/lock.png');
	background-position: 0 0;
}

.multi-select article {
	margin-left: 50px;
}
.multi-select section > header {
	clear: both;
	margin-left: 55px;
}
.multi-select section > header .select-handle {
	margin-left: -65px;
}
.select-handle {
	width: 35px;
	height: 35px;
	margin-left: -55px;
	float: left;
	border: solid 1px gray;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
.selected {
	background: url('ui/sel.png') no-repeat center center;
}
.themed {
	background-color: transparent;
	color: #444;
	outline: none;
}

#bottom {
	float: left;
	margin-bottom: 7px;
	min-width: 100px;
}
#feedback {
	color: gray;
	position: absolute;
	right: 0.2em;
	top: 0.2em;
}
#options, #sync {
	clear: right;
	color: gray;
	display: block;
	float: right;
	margin-bottom: 2px;
}
pre {
	height: auto;
	margin: 0;
	position: absolute;
	top: 0;
	width: auto;
	visibility: hidden;
}
pre, .themed {
	border: 0;
	padding: 0;
}
#toggle {
	background: url('../kana/pane.png') transparent;
	border: 0;
	height: 19px;
	width: 78px;
}
#trans {
	display: inline;
	margin: 0 0 -3px 0;
	overflow-y: hidden;
	resize: none;
	text-wrap: none;
	vertical-align: baseline;
}

@media screen and (max-device-width: 480px) {
	article {
		clear: both;
	}
	body {
		margin: 1px;
		-webkit-text-size-adjust: none;
	}
	blockquote {
		margin: 0.5em;
	}
	section {
		margin: 0;
	}
	.scroll-lock {
		margin-left: -3px;
	}
	#return {
		min-width: inherit;
		margin-right: 0.5em;
	}
}

@media screen and (max-device-width: 480px) and (orientation: portrait) {
	section > blockquote, section > header, section > #banner, section > .omit {
		margin-left: 0.5em;
		margin-right: 0.5em;
	}
	section > header {
		clear: both;
	}
	.full figcaption i {
		display: block;
	}
}

@media screen and (-webkit-min-device-pixel-ratio: 1.5),
	screen and (-o-device-pixel-ratio: 3/2),
	screen and (min--moz-device-pixel-ratio: 1.5),
	screen and (min-device-pixel-ratio: 1.5) {
	header, ul {
		background-image: url('ui/box2x.png');
		background-size: 10px 10px;
	}
	#lock {
		background: url('ui/lock2x.png') no-repeat top left;
		background-size: 10px 13px;
	}
	.scroll-lock header {
		background-image: url('ui/lock2x.png');
		background-size: 10px 13px;
	}

}
