.gravitas {
	background-size: cover;
	background-attachment: fixed;
}
.gravitas > figure img {
	display: none !important;
}
.gravitas > header nav a {
	color: red;
	font-weight: bold;
}
article.gravitas {
	display: block;
	width: 95%;
	min-height: 400px;
}
section.gravitas {
	width: 100%;
	padding: 0;
	margin: -8px 0;
	border-top: 1px solid gray;
	border-bottom: 1px solid #eee;
}
section.gravitas article {
	opacity: 0.9;
}
.gravitas > header,
.gravitas > figure figcaption {
	display: inline;
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
}
section.gravitas > header h3,
.gravitas > header a,
.gravitas > figure figcaption a {
	color: white;
}
.gravitas > blockquote {
	color: white;
	text-shadow: 0 0 3px black;
}
.gravitas > blockquote #trans {
	color: #fdd !important;
}


