.mod.addr {
	display: inline-block;
	position: static;
	text-decoration: none;
}
.mod.address {
	background-color: white;
	bottom: 1em;
	position: absolute;
	padding: 1em;
}
.mod#toolbox {
	margin: 0.5em 0.5em 0.5em 1.0em;
}
.mod#panel {
	background-color: white;
	bottom: 30px;
	color: black;
	padding: 1em;
	position: fixed;
	right: 0;
}
