.mod.addr {
	display: inline-block;
	position: static;
	text-decoration: none;
}
.mod.address {
	background-color: white;
	bottom: 1.2em;
	color: #444;
	position: absolute;
	padding: 1em;
	z-index: 30;
}
.mod.hidden {
	color: red;
}
.mod#toolbox {
	margin: 0.5em 0.5em 0.5em 1.0em;
}
.mod#panel {
	bottom: 30px;
	padding: 1em;
	position: fixed;
	right: 0;
	overflow-y: auto;
	max-height: 80%;
	margin-right: 0.2em;
}
